asgiref
contourpy
crispy
crispy-bootstrap5
cycler
dj-database-url
Django
django-crispy-forms
django-environ
django-filter
djangorestframework
fabio
fonttools
h5py
hdf5plugin
kiwisolver
lxml
Markdown
matplotlib
numpy
packaging
pillow
psycopg2
psycopg2-binary
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
pytz
silx
six
sqlparse
typing_extensions
tzdata